/* 
svg.icon { */
    /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
     /* width: 1em; height: 1em; */
     /* width和height定义图标的默认宽度和高度*/
     /* vertical-align: -0.15em;
     fill: currentColor;
     overflow: hidden;
  } */

/* @import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');

h1#site-title {
    font-family: 'Zhi Mang Xing', cursive;
} */


#fixedElement:hover{
    left: 0px;
  }

[data-theme="dark"]
  #aside-content .card-widget{
      background: rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  div#post{
    background: rgba(0, 0, 0, 0.5)!important;
    }
.read-mode #aside-content .card-widget{
      background: rgba(158, 204, 171, 0.5)!important;
    }
.read-mode div#post{
    background: rgba(158, 204, 171, 0.5)!important;
    }

[data-theme="dark"]
  .read-mode #aside-content .card-widget{
        background: rgba(0, 0, 0, 0.5)!important;
        color: #ffffff;
      }
[data-theme="dark"]  
  .read-mode div#post{
      background: rgba(0, 0, 0, 0.5)!important;
      color: #ffffff;
      }

/*10s为加载动画的时间，1为加载动画的次数，ease-in-out为动画效果*/
/* #page-header,
#web_bg {
    -webkit-animation: imgblur 3s 1 ease-in-out;
    animation: imgblur 3s 1 ease-in-out;
}
@keyframes imgblur {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
} */
/*适配使用-webkit内核的浏览器 */
/* @-webkit-keyframes imgblur {
  0% {
    -webkit-filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
} */